article {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    border: solid 2px #000000;
}

.timerCountDown {
    padding: 5px;
    border: solid 1px #000000;
    background-color: #f54b4b69;
    font-weight: bold;
    border-radius: 5px;
}

